openapi: 3.0.0
consumes:
- application/json
info:
  description: 'Online API info and Tester'
  title: Market
  version: v1
paths:
  /login:
    post:
      requestBody:
        description: Authentication with username and password
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: s.fouladi
                password:
                   type: string
                   example: 3169945454
      responses:
        '200':
          description: successful operation
      summary: Authentication with username and password
      tags:
      - Users
  /products/add:
    post:
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                  excel_file:
                    type: file
                    items:
                     type: string
                     format: binary
                  add_to_elastic_search:
                      type: boolean
      responses:
        '200':
          description: status is success
        401 :
          description: Unauthenticated
      security:
        - bearerAuth: []
      summary: import excel file to mysql and elastic search

      tags:
      - Products
  /products/categories:
          get:
             summary: get product gategories list from elastic search
             tags:
                 - Products
             description: get product gategories list from elastic search
             produces:
             - "application/xml"
             - "application/json"
             parameters: []
             responses:
               200:
                 description: "successful operation"

  /products/search/{q}:
        get:
          summary: search word and get items of product and boost of category match
          tags:
              - Products
          description: search word and get items of product and boost of category match
          produces:
             - "application/xml"
             - "application/json"
          parameters:
              - name: "q"
                in: "path"
                schema:
                    type: string
                description: "search key"
                required: true
          responses:
            200:
              description: "successful operation"
            400:
              description: "not found"

  /products/category/index/{category}:
          get:
            summary: search word and get items of product and boost of category match
            tags:
                - Products
            description:  get items of category of product
            produces:
              - "application/xml"
              - "application/json"
            parameters:
                - name: "category"
                  in: "path"
                  schema:
                      type: string
                  description: "search key"
                  required: true
            responses:
              200:
                description: "successful operation"


tags:
- description: ''
  name: Users
- description: ''
  name: Products

servers:
- url: 'http://localhost:8000/api/v1'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
